footer{
    display: flex;
    min-height: 300px;
    max-width: 100%;
    background-color: rgb(44, 42, 42);
    color: white;
    h1{
        position: relative;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        left: 20px;
    }
}