<nav>
    <img class="titleOne" src="/assets/titleone-removebg-preview.png" alt="">

    <div class="logOptions">
        <h2 routerLink="login">Login</h2>
        <h3 routerLink="register">Cadastre-se</h3>
    </div>

    <div class="options">
        <ul>
            <li>Moto Clube</li>
            <li>Moto Grupo</li>
            <li>Moto Casal</li>
            <li>Lobos Solitários</li>
            <li>Eventos</li>
            <li>Sua Moto</li>
            <li>Parceiros</li>
        </ul>
    </div>
</nav>
