nav{
    width: 100%;
    color: white;
    background-image: url('/assets/wallpaper-nav2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .logOptions{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
        position: absolute;
        right: 30px;
        top: 10px;
        h2{
            position: relative;
            right: 15px;
        }
        h3{
            position: relative;
            bottom: 30px;
        }
    }

    .options{
        width: 100%;
        background-image: url('/assets/wallpaper-navbar.avif');
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
        ul{
           width: 100%;
           display: flex;
           justify-content: space-evenly;
           align-items: center;
           flex-direction: row;
           background-repeat: no-repeat;
           background-size: cover;
           background-position: center;
           font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
           font-size: 1.2rem;
           padding: 20px;
           margin: 0;
           color: orangered;
            li{
                position: relative;
                list-style: none;
            }
        }
    }
}
    
    main{
        width: 100%;
        width: 100%;
        
        button {
            border: none;
            outline: none;
            background: none;
            padding: 0;
            cursor: pointer;
        }
        
        body {
            font-family: 'PT Sans', sans-serif;
            background-color: #EEEEEE;
            height: 100vh;
            margin: 0;
        }
    }