nav{
    width: 100%;
    color: white;
    background-image: url('/assets/wallpaper-nav2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .logOptions{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
        position: absolute;
        h2{
            cursor: pointer;
            bottom: 90px;
            right: 35px;
            transition: all 0.3s ease-in-out;
            display: inline-block;
            position: relative;
        }
        h2:hover {
            border-radius: 10px;
            background-color: gray;
            padding: 5px;
            color: white;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
        h2:hover::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -5px;
            width: 0;
            height: 2px;
            background: white;
            transition: width 0.3s ease-in-out;
        }
        h2:hover::after {
            width: 100%;
        }
        h3{
            position: absolute;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            display: inline-block;
            position: relative;
            right: 20px;
            bottom: 120px;
        }
        h3:hover {
            border-radius: 10px;
            background-color: gray;
            padding: 5px;
            color: white;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
        h3:hover::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -5px;
            width: 100%;
            height: 2px;
            background: white;
            transition: width 0.3s ease-in-out;
        }
        h3:hover::after {
            width: 100%;
        }
    }

    .options{
        width: 100%;
        background-image: url('/assets/wallpaper-navbar.avif');
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
        ul{
           width: 100%;
           display: flex;
           justify-content: space-evenly;
           align-items: center;
           flex-direction: row;
           background-repeat: no-repeat;
           background-size: cover;
           background-position: center;
           font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
           font-size: 1.2rem;
           padding: 20px;
           margin: 0;
           color: orangered;
            li{
                position: relative;
                list-style: none;
            }
        }
    }
}
    
    main{
        width: 100%;
        width: 100%;
        
        button {
            border: none;
            outline: none;
            background: none;
            padding: 0;
            cursor: pointer;
        }
        
        body {
            font-family: 'PT Sans', sans-serif;
            background-color: #EEEEEE;
            height: 100vh;
            margin: 0;
        }
    }